[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/ryml"]
	path = deps/ryml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "deps/lodepng"]
	path = deps/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "deps/magic_enum"]
	path = deps/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "deps/DirectXMath"]
	path = deps/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "deps/DirectXTK12"]
	path = deps/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "deps/D3D12MemoryAllocator"]
	path = deps/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "deps/DirectXTex"]
	path = deps/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "deps/SLikeNet"]
	path = deps/SLikeNet
	url = https://github.com/SLikeSoft/SLikeNet
[submodule "deps/alpaca"]
	path = deps/alpaca
	url = https://github.com/p-ranav/alpaca
